body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: azure;
  }
  
main {
    flex: 1 0 auto;
  }

footer.page-footer {
    padding-top: 0;
    text-align: right;
    background-color: rgb(12, 7, 150)
  }

nav {
    background-color: rgb(12, 7, 150);
}

.card-content {
    background-color: rgb(226, 221, 221);
}